@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Students" asp-action="Index">Öğrenci Listesine Git</a>
    </p>

</div>
